extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor(user)(action=route('users') method='post')
    +input(user, 'firstName', errors)(type="text" maxlength='100')
    +input(user, 'lastName', errors)(type="text" maxlength='100')
    +input(user, 'email', errors)(type="email" maxlength='100')
    +input(user, 'password', errors)(type="password" maxlength='100')
    +submit(user)(value=t('views.users.new.submit'))
