extends ../layouts/application.pug

block header
  = t('views.statuses.edit.title')

block content
  +formFor(status)(action=routeTo('patchStatus', { id: Number(status.id) }) method='post')
    +input(status, 'name', errors)(type="text")
    input(name="_method" value='patch' type='hidden')
    +submit(status)(value=t('views.statuses.edit.submit'))