extends ../layouts/application.pug

block header
  = t('views.tasks.edit')

block content
  form(action=routeTo('patchTask', { id: Number(task.id)}) method="post")
    +input(task, 'name', errors)
    +inputTextarea(task, 'description', errors)
    +inputSelect(statuses, 'status', errors, task)
    +inputSelect(users, 'executor', errors, task)
    +inputSelectMultipleLabels(labels, 'labels', errors, task)
    input(name="_method" value='patch' type='hidden')
    +submit(task)(value=t('views.tasks.actionButtons.edit'))
