extends ../layouts/application.pug

block header
  = t('views.tasks.new')

block content
  form(action="/tasks" method="post")
    +input(task, 'name', errors)(maxlength='100')
    +inputTextarea(task, 'description', errors)
    +inputSelect(statuses, 'statusId', errors, task)
    +inputSelect(executors, 'executorId', errors, task)
    +inputSelectMultipleLabels(labels, 'labels', errors, task)
    +submit(task)(value=t('views.tasks.submit'))
