extends ../layouts/application.pug

block header
  = t('views.tasks.new')

block content
  form(action="/tasks" method="post")
    +input(task, 'name', errors)
    +inputTextarea(task, 'description', errors)
    +inputSelect(statuses, 'statusId', errors)
    +inputSelect(users, 'executorId', errors)
    //- +inputSelect(task, 'labelId', true)
    +submit(task)(value=t('views.tasks.submit'))
